.page {
    position : absolute;
    top : 0;
    bottom : 0;
    width: 100%;
    max-width: 500px;
    padding : 0 20px;

    left: 50%;
    
    transform: translate(-49%, 0);

    overflow: hidden;

    
    flex-direction: column;
}

.titleWrap {
    
    font-size: 28px;
    font-weight: 700;
    color: #262626;
}
.loginImg{
  padding-top: 15%;
  margin: 0 auto;
  display: block;
  height: 20vh;
}

.contentWrap {
    margin-top: 30px;
    flex: 1;
}
.inputTitle {
    font-size: 15px;
    font-weight: 600;
    color: #262626
}
.inputWrap {
  
  border-radius: 10px;
  padding: 16px;
  background-color: #3c59ea20;
  margin-top: 10px;
  border : 2px solid #cecdcde8;
  
}
.inputWrap:focus-within {
  border: 2px solid #3c59ea;
}
.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 16px;
  font-weight: 400;
  background-color: #3c59ea02;
}
input::placeholder {
  color: #a7a7a7f6;
  font-weight: 400;
}
.errorMessageWrap {
  margin-top: 8px;
  color: #ed1a3a;
  font-size: 14px;
  font-weight: 400;
}
.bottomButton {
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3c59ea;
  color: white;
  margin-top: 31px;
  cursor: pointer;
}
.bottomButton:disabled {
  background-color: #d0d0d0;
  color: white;
  font-size: 18px;
}
