.App {
  text-align: center;
  width: 120px;
  height: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.stroke-text {
  position: absolute;
  top: 40px;
  left: 90px;
  border: none;
  padding: 10px 20px;
  font-size: 45px; 
  color: black;
  font-weight: bold;
  background: linear-gradient(to bottom,#faf9fa, #B5B3CF); /* 보라색 그라데이션 배경 */ 
  border-radius: 10px;
  width: 70%;
  max-width: 400px;
}

.login{
  position: absolute;
  top: 40px;
  left: 1080px;
  background: linear-gradient(to bottom,#faf9fa, #5A64B5); 
  color: white; /* 글자 색상 */
  padding: 10px 20px;
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 텍스트에 밑줄 없음 */
  display: inline-block; /* 인라인 요소로 표시 */
  font-size: 20px; /* 글자 크기 */
  cursor: pointer; /* 마우스 커서 모양 변경 */
  border-radius: 10px; /* 버튼 모서리 둥글게 만들기 */
  border: none;  
  width: 150px;
  height: 60px;
}

.newaccount{
  position: absolute;
  top: 40px;
  left: 1250px;
  background: linear-gradient(to bottom,#faf9fa, #5A64B5); 
  color: white; /* 글자 색상 */
  padding: 10px 20px;
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 텍스트에 밑줄 없음 */
  display: inline-block; /* 인라인 요소로 표시 */
  font-size: 20px; /* 글자 크기 */
  cursor: pointer; /* 마우스 커서 모양 변경 */
  border-radius: 10px; /* 버튼 모서리 둥글게 만들기 */
  border: none;  
  width: 150px;
  height: 60px;
}
  .App-header {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .cam{
    position: absolute;
    top: 155px;
    left: 90px;
    width: 740px; /* 너비 */
    height: 440px; /* 높이 */
    background-color: #EEEEEE; /* 배경색 */
    border: none; /* 테두리 설정 */
    border-radius: 3px;
    border: none;
  }
  .exp{
    position:absolute;
    top: 605px;
    left: 90px;
    font-size: 18px;
    color: black;
    font-weight: bold;
  }
  .cctv1{
    position: absolute;
    top: 640px;
    left: 100px;
    border-radius: 10px;
    font-size: 34px;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    background-color: #8b95e2;
    color: #fff;
    background: linear-gradient(to bottom, #bec4f5, #5A64B5); /* 그라데이션 효과 */
    width: 150px;
    height: 150px;
    border: none;
  }
  .cctv2{
    position: absolute;
    top: 640px;
    left: 270px;
    border-radius: 10px;
    font-size: 34px;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    background-color: #8b95e2;
    color: #fff;
    background: linear-gradient(to bottom, #bec4f5, #5A64B5); /* 그라데이션 효과 */
    width: 150px;
    height: 150px;
    border: none;
  }
  .cctv3{
    position: absolute;
    top: 640px;
    left: 440px;
    border-radius: 10px;
    font-size: 34px;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    background-color: #8b95e2;
    color: #fff;
    background: linear-gradient(to bottom, #bec4f5, #5A64B5); /* 그라데이션 효과 */
    width: 150px;
    height: 150px;
    border: none;
  }
  .cctv4{
    position: absolute;
    top: 640px;
    left: 610px;
    border-radius: 10px;
    font-size: 34px;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    background-color: #8b95e2;
    color: #fff;
    background: linear-gradient(to bottom, #bec4f5, #5A64B5); /* 그라데이션 효과 */
    width: 150px;
    height: 150px;
    border: none;
  }
  .cnt{
    position: absolute;
    top: 160px;
    left: 900px;
    color: black;
    font-size: 30px;
    font-weight: bold;
  
  }
  .report{
    position: absolute;
    top: 530px;
    left: 900px;
    color: black;
    font-size: 17px;
  
  }
  .send{
    position: absolute;
    top: 820px;
    left: 1035px;
    border-radius:5px;
    font-size: 20px;
    padding: 5px 25px;
    text-align: center;
    color: white;
    background-color: #5A64B5;
    border: none;
  }
  .res{
    position:absolute;
    top: 820px;
    left: 1135px;
    border-radius:5px;
    font-size: 20px;
    padding: 5px 25px;
    text-align: center;
    color: white;
    background-color: #5A64B5;
    border: none;
  }
  .warn{
    position: absolute;
    top: 220px;
    left: 900px;
    width: 500px; /* 너비 */
    height: 70px; /* 높이 */
    background: linear-gradient(to right, #bec4f5, #5A64B5);
  }
  .stat{
    position: absolute;
    top: 470px;
    left: 900px;
    border-radius:9px;
    cursor: pointer;
    font-size: 20px;
    padding: 4px 18px;
    text-align: center;
    color: black;
    background-color: #bec4f5;
    border: none;
  
  }
  .dir{
    position: absolute;
    top: 400px;
    left: 900px;
    font-size: 30px;
    color:black;
    font-weight: bold;
  }
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
