.App {
  text-align: center;
}

.button_style {
  border-color: #2969F3;
  text-align: center;
  margin: 20px 0px 0px 0px;
  color: #ffffff;
  width: 200px;
  height: 40px;
  background-color: #2969F3;
  padding: 10px 30px;
  border-radius: 10px;
}
.button_dv_style {
  text-align: center;
}
